* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0a0630;
    font-family: 'Times New Roman', Times, serif;
}

section {
    padding: 60px;
}

/*header styles*/

header {
    background-color: #473bf0;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    color: #acadbc;
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    text-shadow: 0 0 5px rgba(201, 172, 8, 0.75);
}

header a {
    color: #acadbc;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 35px;
    font-size: 1.55vw;
} 

header nav ul li a:hover {
    background: #acadbc;
    color: #473bf0;
    border-radius: 15px;
}

/*end header style*/

/*hero style*/

.hero {
    background-image: url("../images/resize1.jpg");
    background-position: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    height: 350px;
}

.hero img {
    width: 20%;
    border-radius: 50%;
    border: 5px solid #cfd11a;
    position: relative;
}

